name: Recipe Rush CI/CD - Test
on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: List files
      run: ls -la *.yaml
    - name: Show kubeconfig
      run: echo "${{ secrets.KUBE_CONFIG }}" | head -5
