name: Recipe Rush CI/CD
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config
    
    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f frontend-deployment.yaml -n recipe-rush
        kubectl apply -f hpa.yaml -n recipe-rush
        kubectl apply -f ingress.yaml -n recipe-rush
        kubectl rollout status deployment/recipe-rush-frontend -n recipe-rush --timeout=300s
